{% extends 'template.html' %}
{% block title %}Izmeni Kupovinu{% endblock %}
{% block head %}
 {{ super() }}
 <link rel="stylesheet" href="{{ url_for('static',filename='dodavanje.css') }}">
 {% endblock %}

{% block body %}
<div id="container">
    <form action="{{ url_for('izmeni_kupovinu',id=jedna_kupovina['id']) }}" method="POST">
        <div>
            <label>Kupac ID:</label>
            <select name="kupac_id" required>
                {% for id_kupac in id_kupci %}
                    {% if id_kupac['id'] == jedna_kupovina['kupac_id'] %}
                    <option value="{{ id_kupac['id'] }}" selected>{{ id_kupac['korisnickoIme'] }}</option>    
                    {% else %}
                    <option value="{{ id_kupac['id'] }}">{{ id_kupac['korisnickoIme'] }}</option>   
                    {% endif %}
                    
                {% endfor %}
            </select>
        </div>

        <div>
            <label>Proizvod ID:</label>
            <select name="proizvod_id" required>
                {% for proizvod_id in id_proizvodi %}
                     {% if proizvod_id['id'] == jedna_kupovina['proizvod_id'] %}
                    <option value="{{ proizvod_id['id'] }}" selected>{{ proizvod_id['naziv'] }}</option>
                    {% else %}
                    <option value="{{ proizvod_id['id'] }}">{{ proizvod_id['naziv'] }}</option>
                    {% endif %}
                {% endfor %}
        </div>
        
        <div>
            <input type="number" name="kolicina" min="0" placeholder="kolicina" value="{{ jedna_kupovina['kolicina'] }}" required>
        </div>
        
        <div>
            <input type="number" name="cena" step="any" min="0" value="{{ jedna_kupovina['cena'] }}" placeholder="cena" required>
        </div>
        <div>
            <label>Datum Kupovine</label>
            <input type="datetime-local" name="datumKupovine" value="{{ datum_vreme }}" required >
        </div>
        <div>
            <button type="submit">Izmeni Kupovinu</button>
        </div>
    </form>
</div>
{% endblock  %}